.main-content {
  /*
   * header sizes naturally based on content
   * flex: 1; here allows the main-content to take up all remaining space
   * Footer also sizes naturally
   * */
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main verse";
}

/* Media Queries */

@media(max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "main"
      "verse";
  }
}
